*{
    background: rgb(19, 226, 8);
}


.heading{
    margin: auto;
    display: flex;
    justify-content: center;
}

#restButton{
    margin: auto;
    display: flex;
    justify-content: center;
}
#magic8ball{
    margin: auto;
    display: flex;
    justify-content: center;
}

#round{
    width: 500px;
    height: 500px;
    background: rgb(251, 255, 22);
}