*{
    background: rgb(19, 226, 8);
}


.heading{
    margin: auto;
    display: flex;
    justify-content: center;
}

#answerButton{
    margin: auto;
    display: flex;
    justify-content: center;
}
#magic8ball{
    margin: auto;
    display: flex;
    justify-content: center;
}

#picture{
    width: 500px;
    height: 500px;

}

#circle{
    height: 100px;
    width: 168px;
    padding: 0 50px 0 83px;
    background: rgb(7, 1, 78);
    margin: -310px auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}